@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(45deg, rgba(205, 248, 253, 0.863), rgba(192, 252, 252, 0.897)),url("../public/assets/images/background.png");
  background-size: cover;
  background-repeat: repeat;
  position: relative;  
}

