.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100vh;
    margin-bottom: 5vh;

    .left{
        flex: 1;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;
        
        .colorDiv{
            top: 0%;
            bottom: 0;
            left: 0;
            height: 85vh;
            position: absolute;
            width: 45vw;
            background: rgb(248,108,108);
            background: linear-gradient(222deg, rgba(248,108,108,0.7) 0%, rgba(255,255,255,1) 100%);
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            transform: rotate(10deg);
            transform-origin: top left;
        }

        .picture{
            position: absolute;
            left: 0;
            width: 85%;
            height: 85%;
            border-radius: 50px;

            img{
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
        }
    }

    .circle{
        position: absolute;
        top: 10%;
        right: 20%;
        min-width: 300px;
        min-height: 300px;
        background: rgb(155,205,210);
        background: linear-gradient(42deg, rgba(155,205,210,0.7) 0%, rgba(255,255,255,1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: -0.2px 0.2px 1px #000;
    }
    .circle2{
        position: absolute;
        bottom: -10%;
        right: 5%;
        left: auto;
        min-width: 200px;
        min-height: 200px;
        background: rgb(248,108,108);
        background: linear-gradient(to top, rgba(248,108,108,0.7) 0%, rgba(255,255,255,1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }
    .right{
        flex: 1;
        text-align: end;
        padding-right: 5vw;
        padding-left: 1vw;
        background-size: contain;
        background-repeat: repeat;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        z-index: 1;
        position: relative;

        .headingOne{
            color: #018e9b;
            text-shadow: 0.5px 0.5px 3px #fff;
            font-weight: 800;
        }

        h1{
            font-size: 3rem;
            color: #f86c6c;
            text-transform: capitalize;
            -webkit-text-fill-color: #f86c6c;
            text-shadow: 0.5px 0.5px 1px #ff0000;
        }

        .tagline{
            color: #018e9b;
            text-shadow: 0.5px 0.5px 3px #fff;
            font-weight: 500;
            font-size: 16px;
            font-weight: 800;
            padding-bottom: 10px;
        }

        .info{
            font-size: 18px;
            text-transform: capitalize;
            color: #000;
            text-shadow: 0.2px 0.2px 1px #f86c6c;
        }
    }
}