.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10vh 3vw 20vh 7vw;
    height: 100vh;
    overflow: hidden;

    .left {
        flex: 1.5;
        text-align: start;
        background-size: contain;
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 2;
        height: 100vh;

        .headingOne {
            color: #018e9b;
            text-shadow: 0.5px 0.5px 1px #fff;
            font-weight: 800;
            font-size: 18px;
            text-transform: capitalize;
        }

        h1 {
            font-size: 3rem;
            -webkit-text-fill-color: #f86c6c;
            text-shadow: 0.5px 0.5px 1px #ff0000;
        }

        .tagline {
            color: #018e9b;
            text-shadow: 0.5px 0.5px 1px #fff;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 18px;
            font-weight: 800;
            border-radius: 10px;
        }

        .info {
            font-size: 22px;
            width: 80%;
            color: #000;
            text-shadow: 0.2px 0.2px 1px #f86c6c;
            padding-top: 20px;
        }
    }

    .right {
        z-index: 2;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .blockDiv {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 100px;

            .block {
                width: 240px;
                height: 240px;
                background: #9BCDD2;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                border: 1px solid #fff;
                border-style: dashed;
                box-shadow: 0.5px 0.5px 4px rgb(0, 0, 0);
                cursor: pointer;

                .icon {
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    padding: 15px;
                    border-radius: 50%;
                    background-color: rgb(255, 242, 242);
                    box-shadow: 0.5px 0.5px 4px rgb(0, 0, 0);

                    img {
                        border-radius: 50%;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: #00000075;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        display: none;
                        font-weight: 500;
                    }
                }

                .title {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    animation: startRotation 15s linear infinite;

                    @keyframes startRotation {
                        0% {
                            transform: rotate(-360deg);
                        }

                        100% {
                            transform: rotate(0deg);
                        }
                    }

                    span {
                        position: absolute;
                        font-size: 1.5rem;
                        left: 50%;
                        transform-origin: 0 120px;
                        text-shadow: 1px 1px 1px #ff0000;
                        text-transform: uppercase;
                        color: #f86c6c;


                        .poli {
                            -webkit-text-fill-color: rgba(255, 125, 0);
                            text-shadow: 1px 1px 1px #ff0000;
                        }

                        .eve {
                            -webkit-text-fill-color: #f86c6c;
                            text-shadow: 1px 1px 1px #ff0000;
                        }
                    }
                }

                button {
                    position: absolute;
                    width: max-content;
                    height: max-content;
                    background: rgb(255, 255, 255);
                    top: 110%;
                    padding: 10px 25px;
                    color: #018e9b;
                    border-radius: 50px;
                    box-shadow: 1px 1px 3px #000;
                }

                &:hover {
                    .title {
                        animation: none;
                        transform: rotate(290deg);

                        span {
                            color: rgba(255, 255, 0);
                        }
                    }

                    .title3 {
                        transform: rotate(315deg);
                    }

                    .icon {
                        .overlay {
                            display: flex;
                        }
                    }

                    button {
                        background: rgba(255, 255, 0);
                    }
                }
            }

        }
    }

    .circle {
        position: absolute;
        top: 1%;
        left: 13%;
        min-width: 300px;
        min-height: 300px;
        background: rgb(155, 205, 210);
        background: linear-gradient(42deg, rgba(155, 205, 210, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: -0.2px 0.2px 1px #000;
    }

    .circle3 {
        position: absolute;
        bottom: 20%;
        right: 40%;
        left: auto;
        min-width: 200px;
        min-height: 200px;
        background: rgb(155, 205, 210);
        background: linear-gradient(42deg, rgba(155, 205, 210, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }
}