 @font-face {
     font-family: 'MarathiFont';
     src: url('../public/assets/Marathifonts/AMS\ Umakant\ Regular.ttf') format('truetype');
 }

 .container {
     width: 100%;
     overflow: hidden;

     .title {
         padding: 8vh 10vw 8vh 10vw;
         text-transform: capitalize;
         text-shadow: 1px 1px 1px #ff0000;
         color: #F86C6C;
         font-size: 5rem;
         text-align: center;

         span {}

     }

     .testimonials {
         width: 300vw;
         display: flex;
         align-items: flex-start;
         transform: translateX(00vw);
        // height: 100vh;
        // overflow-x: hidden;

         .slideDiv {
            width: 100vw;
            padding: 0 10vw;

             .testimony {
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 width: 100%;
                 gap: 1vw;

                 .comment {
                     width: 100%;
                     flex: 2;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;

                     .quoteDiv {
                         width: 100%;
                         display: flex;
                         justify-content: flex-start;

                         .quote {
                             width: 64px;
                             height: 64px;
                             position: relative;
                             display: flex;
                             justify-content: flex-start;

                             img {
                                 position: absolute;
                                 left: 0;
                             }
                         }
                     }

                     .quoteDivEnd {
                         display: flex;
                         justify-content: flex-end;
                         width: 100%;

                         .quoteEnd {
                             width: 64px;
                             height: 64px;
                             transform: rotate(180deg);
                             position: relative;

                             img {
                                 position: absolute;
                             }
                         }
                     }

                     .text {
                         padding: 0 4vw;
                         text-align: justify;
                         font-size: 18px;
                         font-family: 'MarathiFont';
                     }
                 }

                 .author {
                     flex: 1;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;

                     .picture {
                         width: 350px;
                         height: 350px;
                         position: relative;

                         img {
                             position: absolute;
                         }
                     }

                     .name {
                         font-family: 'MarathiFont';
                         padding: 10px 0;
                         font-size: 1.2rem;
                         font-weight: 600;
                     }

                     .post {
                         display: flex;
                         justify-content: center;
                         width: 80%;
                         text-align: center;
                     }
                 }
             }

             .reverse {
                 flex-direction: row-reverse;
             }
         }

     }

 }