.container {
    width: 100%;
    padding: 10vh 0 0 0;
  
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 50px 0 0 0;
      font-size: 4rem;
      -webkit-text-fill-color: #353638;
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 0.1rem;
  
      span {
        font-weight: 400;
        -webkit-text-fill-color: #ff6700;
        margin: 0 20px;
      }
    }
  
    .clients {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      padding: 10vh 0;
  
      .client {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        width: 350px;
        padding-top: 5vh;
        gap: 20px;
  
        .picture {
          width: 200px;
          height: 200px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
  
          img {
            position: absolute;
            border-radius: 50%;
            mix-blend-mode: normal;
            border: none;
          }
        }
  
        .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 3px;
          text-align: center;
          width: 50%;
          height: 150px;
          z-index: 0;
          position: relative;
  
          .name {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 0.05rem;
          }
  
          .post {
            font-size: 18px;
          }
        }
  
        &:nth-child(1) {
          border-bottom: 0.5px solid #000;
          border-right: 0.5px solid #000;
        }
  
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          border-bottom: 0.5px solid #000;
          border-right: 0.5px solid #000;
        }
  
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(3),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          border-bottom: 0.5px solid #000;
        }
  
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(10) {
          border-right: 0.5px solid #000;
        }
  
        &:nth-child(11) {
          border-right: 0.5px solid #000;
        }
      }
    }
  }
  