.container {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .circle {
    position: absolute;
    width: 680px;
    height: 680px;
    border-radius: 50%;
    border: 0.14rem solid #ffad76;
    border-style: dotted;
    top: 10%;
    left: -25%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation1 10s infinite linear alternate;
    z-index: 0;
    // opacity: 0.8;

    .outerBorder {
      width: 72%;
      height: 72%;
      background: #f36e21;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .innerBorder {
        width: 50%;
        height: 50%;
        background: #fefffc;
        border-radius: 50%;
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    }
  }

  .circle2 {
    position: absolute;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    border: 0.14rem solid #ffad76;
    border-style: dotted;
    top: -50%;
    right: -30%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation2 10s infinite ease-in-out;
    z-index: 0;

    .outerBorder {
      width: 72%;
      height: 72%;
      border: 0.14rem solid #ffad76;
      border-style: dotted;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .innerBorder {
        width: 60%;
        height: 60%;
        border: 0.14rem solid #ffad76;
        border-style: dotted;
        border-radius: 50%;
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .circle3 {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 0.14rem solid #ffad76;
    border-style: dotted;
    bottom: 0%;
    left: 45%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 10s infinite linear;
    z-index: 0;

    .outerBorder {
      width: 72%;
      height: 72%;
      border: 0.14rem solid #ffad76;
      border-style: dotted;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // animation: rotationOut 10s infinite linear;

      .innerBorder {
        width: 60%;
        height: 60%;
        border: 0.14rem solid #ffad76;
        border-style: dotted;
        border-radius: 50%;
        // animation: rotationInner 10s infinite linear;

        // @keyframes rotationInner {
        //   0% {
        //     border: 0.14rem solid #ffad76;
        //     border-style: dotted;
        //   }
        //   25% {
        //     border: 0.14rem solid #1877f2;
        //     border-style: dotted;
        //   }
        //   50% {
        //     border: 0.14rem solid #1da1f2;
        //     border-style: dotted;
        //   }
        //   75% {
        //     border: 0.14rem solid #833ab4;
        //     border-style: dotted;
        //   }
        //   100% {
        //     border: 0.14rem solid #ffad76;
        //     border-style: dotted;
        //   }
        // }
      }

      // @keyframes rotationOut {
      //   0% {
      //     border: 0.14rem solid #ffad76;
      //     border-style: dotted;
      //   }
      //   25% {
      //     border: 0.14rem solid #1877f2;
      //     border-style: dotted;
      //   }
      //   50% {
      //     border: 0.14rem solid #1da1f2;
      //     border-style: dotted;
      //   }
      //   75% {
      //     border: 0.14rem solid #833ab4;
      //     border-style: dotted;
      //   }
      //   100% {
      //     border: 0.14rem solid #ffad76;
      //     border-style: dotted;
      //   }
      // }
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
        bottom: 0%;
        left: 45%;
        scale: 1;
        // border: 0.14rem solid #ffad76;
        // border-style: dotted;
      }
      25% {
        bottom: 30%;
        left: 55%;
        scale: 0.5;
        // border: 0.14rem solid #1877f2;
        // border-style: dotted;
      }
      50% {
        bottom: 60%;
        left: 35%;
        scale: 1.5;
        // border: 0.14rem solid #f21d1d;
        // border-style: dotted;
      }
      75% {
        bottom: 30%;
        left: 25%;
        scale: 0.5;
        // border: 0.14rem solid #ff8000;
        // border-style: dotted;
      }
      100% {
        transform: rotate(360deg);
        bottom: 0%;
        left: 45%;
        scale: 1;
        // border: 0.14rem solid #ffad76;
        // border-style: dotted;
      }
    }
  }

  .arrow {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    color: #f36e21;
    animation: upDown 0.5s infinite alternate linear;
    cursor: pointer;
    z-index: 3;

    @keyframes upDown {
      from {
        transform: translateY(-10px);
      }
      to {
        transform: translateY(10px);
      }
    }
  }

  .left {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    // flex-direction: column;
    align-items: center;
    padding-left: 13vw;
    z-index: 2;
    position: relative;

    .heading {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 5rem;
      font-weight: 600;
      background: rgb(255, 81, 0);
      background: linear-gradient(
        138deg,
        rgba(255, 81, 0, 1) 0%,
        rgba(253, 126, 29, 1) 50%,
        rgba(242, 252, 69, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: flex-start;
      gap: 0.1rem;

      &:nth-child(3) {
        font-size: 7rem;
        font-weight: 800;
      }
    }

    .tagline {
      font-size: 1.5rem;
      padding: 3vh 5px;

      span{
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .logos {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 3vh 0;

      .logo {
        padding: 10px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 1px 1px 4px #000;
        color: #fff;

        &:nth-child(1) {
          background: #1877f2;
        }
        &:nth-child(2) {
          background: #1da1f2;
        }
        &:nth-child(3) {
          background: linear-gradient(
            45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d
          );
        }
        &:nth-child(4) {
          background: #0077b5;
        }
      }
    }
  }

  .right {
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    position: relative;

    .colorDiv {
      height: 60vh;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 70px;

      .picture {
        width: 60%;
        height: 70%;
        border-radius: 50%;
        position: relative;
        background: radial-gradient(
          circle at 50% 120%,
          #fffb87,
          #ff3300 10%,
          #ffb700 80%,
          #fffb87 100%
        );
        animation: moveUpDown 3s linear infinite alternate;

        &::before {
          content: "";
          position: absolute;
          top: 1%;
          left: 5%;
          width: 90%;
          height: 90%;
          border-radius: 50%;
          background: radial-gradient(
            circle at 50% 0px,
            #ffffff,
            rgba(255, 255, 255, 0) 58%
          );
          filter: blur(5px);
        }

        img {
          position: absolute;
          border-radius: 50%;
        }

        @keyframes moveUpDown {
          from {
            transform: translateY(-10px);
          }
          to {
            transform: translateY(10px);
          }
        }
      }

      .advertisement {
        padding: 20px 0;
        font-size: 1.5rem;
        font-weight: 400;

        span {
          font-weight: 500;
          font-size: 2rem;
          color: rgba(255, 55, 0);
        }
      }
    }
  }
}
