.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 5px 0;
    background: #f86c6c;
    border-bottom: 1px solid #bbb;
    position: relative;
    z-index: 999;

    .headerContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 1280px;
        align-items: center;
        gap: 1vw;

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            .headerItem {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    z-index: 999;

    .navContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1024px;
        align-items: center;
        background-color: #fff;
        padding: 15px 0;
        box-shadow: #e4b8b8 1px 1px 10px 1px;

        .logo {
            .picture {
                position: relative;
                width: 250px;
                height: 50px;
                border-radius: 10px;
            }

            img {
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .socialIcons {
            color: #000;
            display: flex;
            align-items: center;
            gap: 2vw;
            font-size: 20px;
            cursor: pointer;
        }

        .navBurger {
            color: #fff;
            font-size: 2rem;
            padding: 20px;
            margin: 0 20px 0 0;
            background-color: rgba(255, 55, 0);
            height: 100%;
            cursor: pointer;
        }
    }
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    background: linear-gradient(45deg, rgb(200, 252, 252, 0.9), rgb(200, 252, 252, 0.9)), url("../public/assets/mandla_new.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;

    .menuContainer {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1024px;
        padding: 20vh 0 1vh 0;

        .menuLeft {
            display: grid;
            width: 100%;
            justify-content: space-evenly;
            grid-template-columns: auto auto auto auto;
            align-items: flex-start;
            row-gap: 20px;
            column-gap: 3vw;

            .col {
                flex: 1;
                min-width: max-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 200px;

                .heading {
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 3rem;
                    -webkit-text-fill-color: #F86C6C;
                    text-shadow: 1px 1px 1px #ff0000;
                    position: relative;
                    
                    &::before {
                        content: attr(linkData);
                        position: absolute;
                        top: 0;
                        left: 0;
                        -webkit-text-fill-color: #018E9B;
                        text-shadow: 1px 1px 1px #ff0000;
                        overflow: hidden;
                        transition: all 0.7s ease;
                        width: 0%;
                    }

                    
                }

                .line {
                    padding: 0px;
                    height: 3px;
                    background: rgba(255, 125, 0);
                    margin: 3px 0;
                    transition: all 0.5s;
                    width: 0%;
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    font-size: 1.7rem;
                    font-weight: 500;

                    li {
                        color: #018E9B;
                        text-shadow: 0.5px 0.5px 1px #fff5f5;
                        padding: 10px 0;
                        position: relative;
                        transition: all 0.4;

                        &::before {
                            content: "";
                            transform: rotate(90deg);
                            position: absolute;
                            top: 40%;
                            left: -20px;
                            width: 2px;
                            height: 2px;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 10px solid #F36E21;
                        }

                        &:hover {
                            scale: 1.1;
                            color: #ff0000;
                            text-shadow: 0.5px 0.5px 1px #000;

                            &::before {
                                border-bottom: 10px solid #ff0000;
                            }
                        }

                    }

                }

                &:hover {
                    .heading{

                        &::before{
                            width: 100%;
                        }
                    }

                    .line {
                        width: 90%;
                        padding: 1px;
                    }
                }
            }

            .colL {
                flex: 2;
            }

            @media screen and (max-width: 1000px) {
                grid-template-columns: auto auto auto auto;
            }

            @media screen and (max-width: 864px) {
                grid-template-columns: auto auto auto;
            }

            @media screen and (max-width: 614px) {
                grid-template-columns: auto auto;
            }
        }

        .menuRight {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
            color: #FF5C00;

            .menuHeaderItem {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            .menuSocialIcons {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            a{
                &:hover{
                    color: #ff0000;
                    scale: 1.1;
                }
            }
        }
    }

    .close {
        position: absolute;
        top: 60px;
        right: 50px;
        left: auto;
        font-size: 3rem;
        font-weight: 800;
        color: #fff;
        cursor: pointer;
        background: #F86C6C;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 1px 1px 3px 1px #000;
        text-shadow: 1px 1px 2px #bbb;

        &:hover{
            background: #fff;
            color: #F86C6C;
        }
    }
}