.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  width: 100%;
  z-index: 50;

  .navbar {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;

    .logo {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      padding-left: 5%;
      align-items: center;

      .picture {
        position: relative;
        width: 250px;
        height: 60px;

        img {
          position: absolute;
          background: #fff;
        }
      }
    }
    .navButton {
      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        font-size: 2rem;
        font-weight: 600;
        color: rgba(255, 55, 0);

        span {
          color: rgba(255, 55, 0);
          padding: 10px;
          background: #353638;
        }
      }
    }
    .navMenu {
      width: 50vw;
      position: absolute;
      top: 0;
      right: 0;
      height: max-content;
      background: #353638;

      .menuContainer {
        position: relative;

        .topDiv {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 3vw;

          .menu {
            font-size: 3rem;
            font-weight: 600;
            color: yellow;
            border-bottom: 1px solid #fff;
            width: fit-content;
          }

          button {
            font-size: 3rem;
            font-weight: 600;
            color: yellow;
            -webkit-text-fill-color: #fff;
          }
        }

        .menuDiv {
          padding: 1vh 3vw 7vh 3vw;
          font-size: 1.5rem;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;

          li {
            margin: 30px 0;
            word-spacing: 5px;

            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }
}
