.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.6rem;
    padding: 8vh 0;
    text-transform: capitalize;
    color: rgba(255,125,0);
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: rgba(255,125,0);
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-bottom: 12vh;
    gap: 5vw;
    overflow: hidden;
    
    .card{
        position: relative;
        cursor: pointer;
        box-shadow: 5px 10px 15px #1f1f1f9f;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
        width: 20vw;
        height: 65vh;

        .picture{
            position: absolute;
            width: 100%;
            height: 350px;
            top: 0;
            left: 0;

            img{
                width: 100%;
                height: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        
        .data{
            max-width: 100%;
            text-align: center;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .heading{
                font-size: 20px;
                text-transform: capitalize;
            }

            .date{
                margin-top: 20px;
                background-color: rgba(255,125,0);
                width: 50%;
                padding: 5px 20px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                word-spacing: 5px;

                p{
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }
}