.container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        gap: 40px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 4rem;
            text-transform: capitalize;
            -webkit-text-fill-color: #F86C6C;
            text-shadow: 1px 1px 3px #ff0000;
            z-index: 1;
            position: relative;
            width: 80%;
        }

        .picture {
            position: relative;
            width: 400px;
            height: 400px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 20px;
            }
        }

    }

    .right {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 5vh;
        z-index: 1;
        position: relative;

        .stripDiv {
            display: flex;
            align-items: center;

            .stripHead {
                height: 148px;
                width: 80px;
                background: #ff9900;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 22px;
                box-shadow: 2px 2px 2px 2px #127a81;
            }

            .strip {
                background: #c0f6fa;
                width: 30vw;
                height: 148px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;
                box-shadow: 2px 2px 2px 2px #127a81;
                position: relative;
                overflow: hidden;

                .data {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    height: 100%;
                    font-size: 25px;
                    font-weight: 500;
                    position: relative;
                    -webkit-text-fill-color: rgba(255,155,0);
                    -webkit-text-stroke: 1px #000;
                    z-index: 10;
                    text-transform: capitalize;
                }

                .insideBottomRightCircle {
                    position: absolute;
                    bottom: -5%;
                    right: -5%;
                    left: auto;
                    min-width: 80px;
                    min-height: 80px;
                    background: rgb(248, 108, 108);
                    background: linear-gradient(to right, rgba(248, 108, 108) 0%, rgba(255, 255, 255, 1) 100%);
                    border-radius: 50%;
                    z-index: 2;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideBottomRightCircle1 {
                    position: absolute;
                    bottom: -11%;
                    right: 6%;
                    left: auto;
                    min-width: 60px;
                    min-height: 60px;
                    background: rgb(248, 108, 108);
                    background: linear-gradient(to left, rgba(248, 108, 108) 0%, rgba(255, 255, 255, 1) 100%);
                    border-radius: 50%;
                    z-index: 3;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideBottomRightCircle2 {
                    position: absolute;
                    bottom: -7%;
                    right: 17%;
                    left: auto;
                    min-width: 30px;
                    min-height: 30px;
                    background: rgb(248, 108, 108);
                    background: linear-gradient(to bottom, rgba(235, 179, 179, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
                    border-radius: 50%;
                    z-index: 1;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideBottomRightCircle3 {
                    position: absolute;
                    bottom: 41%;
                    right: -3%;
                    left: auto;
                    min-width: 25px;
                    min-height: 25px;
                    background: rgb(248, 108, 108);
                    background: linear-gradient(to top, rgba(250, 134, 134, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
                    border-radius: 50%;
                    z-index: 1;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideTopLeftCircle {
                    position: absolute;
                    top: -5%;
                    left: -5%;
                    right: auto;
                    min-width: 80px;
                    min-height: 80px;
                    background: rgb(155,205,210);
                    background: linear-gradient(42deg, rgba(155,205,210) 0%, rgba(255,255,255,1) 100%);
                    border-radius: 50%;
                    z-index: 2;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideTopLeftCircle1 {
                    position: absolute;
                    top: -11%;
                    left: 6%;
                    right: auto;
                    min-width: 60px;
                    min-height: 60px;
                    background: rgb(155,205,210);
                    background: linear-gradient(42deg, rgba(155,205,210) 0%, rgba(255,255,255,1) 100%);
                    border-radius: 50%;
                    z-index: 3;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideTopLeftCircle2 {
                    position: absolute;
                    top: -7%;
                    left: 17%;
                    right: auto;
                    min-width: 30px;
                    min-height: 30px;
                    background: rgb(155,205,210);
                    background: linear-gradient(42deg, rgba(155,205,210) 0%, rgba(255,255,255,1) 100%);
                    border-radius: 50%;
                    z-index: 1;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
                .insideTopLeftCircle3 {
                    position: absolute;
                    top: 43%;
                    left: -3%;
                    right: auto;
                    min-width: 25px;
                    min-height: 25px;
                    background: rgb(155,205,210);
                    background: linear-gradient(42deg, rgba(155,205,210) 0%, rgba(255,255,255,1) 100%);
                    border-radius: 50%;
                    z-index: 1;
                    box-shadow: 0.2px -0.2px 1px #000;
                }
            }
        }
    }

    .circle {
        position: absolute;
        top: -10%;
        left: -6%;
        min-width: 400px;
        min-height: 400px;
        background: rgb(155, 205, 210);
        background: linear-gradient(42deg, rgba(155, 205, 210, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: -0.2px 0.2px 1px #000;
    }

    .circle2 {
        position: absolute;
        bottom: -12%;
        left: 25%;
        right: auto;
        min-width: 350px;
        min-height: 350px;
        background: rgb(248, 108, 108);
        background: linear-gradient(to top, rgba(248, 108, 108, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }

    .circle3 {
        position: absolute;
        top: 9%;
        right: 30%;
        left: auto;
        min-width: 200px;
        min-height: 200px;
        background: rgb(155, 205, 210);
        background: linear-gradient(42deg, rgba(155, 205, 210, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }

    .circle4 {
        position: absolute;
        bottom: 25%;
        right: 5%;
        left: auto;
        min-width: 200px;
        min-height: 200px;
        background: rgb(248, 108, 108);
        background: linear-gradient(33deg, rgba(248, 108, 108, 0.7) 0%, rgba(255, 255, 255, 1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }
}