.container{
    min-width: 100%;
    height: 100vh;
    background: #9bced291;
    padding-top: 7vh;
    box-shadow: 1px -1px 4px #ff0000;
    position: relative;
    overflow: hidden;

    h1{
        font-size: 3rem;
        color: #fff;
        text-transform: capitalize;
        -webkit-text-fill-color: #fff;
        text-shadow: 0.5px 0.5px 1px #ff0000;
        display: flex;
        justify-content: center;
        text-align: center;
        z-index: 1;
        position: relative;

        span{
            width: 50%;
        }
    }
    
    .arrows{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 800;
        color: #018e9b;
        gap: 30vw;
        z-index: 1;
        position: relative;
        
        .nextComment{
            cursor: pointer;
            color: gray;
            font-weight: 400;
        }
        .prevComment{
            cursor: pointer;
            font-weight: 400;
        }
    }

    .testimonialsDiv{
        position: relative;

        .testimony{
            position: absolute;
            top: 55%;
            left: 35%;
            right: auto;
            bottom: auto;
            text-align: center;
            width: 30vw;
            z-index: 0;
            opacity: 0;
            transition: 1s;

            .author{
                font-size: 35px;
            }

            .comment{
                font-size: 26px;
                font-weight: 400;
                padding: 1rem 1vw;
            }

            .stars{
                color: gold;
                display: flex;
                justify-content: center;
            }
            
            &.testimonyActive {
                opacity: 1;
                transform: scale(1.1);
                z-index: 99;
                background: #fff;
                height: fit-content;
                padding: 3vh 1vw;
                border-radius: 50%;  
                box-shadow: 1px 1px 5px #000;     
            }
          
            &.testimonyLeft {
                transform: translateX(-90%) scale(0.5);
                transition: 1s;
                opacity: 0.3;
                background: #f86c6c;
                height: fit-content;
                padding: 3vh 1vw;
                border-radius: 50%; 
            }
        
            &.testimonyRight {
                transform: translateX(90%) scale(0.5);
                transition: 1s;
                opacity: 0.3;
                background: #f86c6c;
                height: fit-content;
                padding: 3vh 1vw;
                border-radius: 50%;                 
            }
        }

    }

    .circle1{
        position: absolute;
        top: 10%;
        right: 10%;
        min-width: 200px;
        min-height: 200px;
        background: rgb(155,205,210);
        background: linear-gradient(42deg, rgba(155,205,210,0.7) 0%, rgba(255,255,255,1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: -0.2px 0.2px 1px #000;
    }
    .circle2{
        position: absolute;
        bottom: 10%;
        left: 10%;
        right: auto;
        min-width: 150px;
        min-height: 150px;
        background: rgb(248,108,108);
        background: linear-gradient(to top, rgba(248,108,108,0.7) 0%, rgba(255,255,255,1) 100%);
        border-radius: 50%;
        z-index: 0;
        box-shadow: 0.2px -0.2px 1px #000;
    }
}