.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    position: relative;
    overflow: hidden;
    padding: 0 15vw;

    img{
        filter: grayscale(100%);
    }
}