.container {
  width: 100%;
  padding: 10vh 0 5vh 0;
  text-align: center;
  overflow: hidden;

  .title {
    font-weight: 600;
    font-size: 4rem;
    color: #353638;

    span {
      font-weight: 400;
      -webkit-text-fill-color: #ff6700;
    }
  }

  .testimonyContainer {
    display: flex;
    width: 800vw;
    align-items: center;
    transition: all 1s;
    height: 60vh;

    .testimonySlide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7vh 20vw;
      width: 100vw;

      .testimony {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;

        .top {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2vw;
          height: 150px;

          .picture {
            position: relative;
            width: 100px;
            height: 100px;

            img {
              position: absolute;
              border-radius: 10px;
            }
          }

          .info {
            text-align: start;

            h1 {
              font-size: 2rem;
              font-weight: 500;
            }

            h4 {
              color: #454545;
            }
          }
        }

        .bottom {
          width: 30vw;
          text-align: justify;
          font-size: 18px;
          color: #777777;

          a{
            padding-left: 10px;
          }
        }

        &:nth-child(1) {
          padding: 0 5vw 0 0;
          border-right: 1px solid #999999;
        }

        &:nth-child(2) {
          padding: 0 0 0 5vw;
        }
      }
    }
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;

    button {
      width: 100px;
      height: 40px;
      border-radius: 10px;
      color: #fff;
      background: rgb(255, 107, 7);
      background: linear-gradient(
        15deg,
        rgba(255, 107, 7, 1) 47%,
        rgb(255, 153, 86) 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

      &.deactive {
        color: rgb(255, 107, 7);
        background: none;
        width: 50px;
      }
    }
  }
}
